<header>
  <h1>Employee Certifications</h1>
</header>
<nav>
  <a href="/">Home</a>
  <a href="departments">Departments</a>
  <a href="certifications">Certifications</a>
  <a href="employees">Employees</a>
  <a href="training_sessions">Training Sessions</a>
  <a href="employee_certifications">Employee Certifications</a>
</nav>
<main>
  <div id="browse">
    <button onClick="newEmployeeCert()" class="btn">Add New Employee
      Certification</button>
    <p><a href="#" onClick="showAll()">Display all forms</a> </p>
    <table border="1" cellpadding="5" class="employeeCertsTable">
      <tr>
        <th>Action</th>
        <th class="employeeID">ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th class="employeeCerts">Certification</th>
        <th>Expiration Date</th>
      </tr>
      <!-- Sample employee data -->
      <tr>
        <td>
          <a
            href="#"
            onClick="updateEmployeeCert(this)"
            data-id="1"
            data-fname="Vladimir"
            data-lname="Collier"
            data-certs="Safety 101, Drawing Reading 101, Drawing Reading 102, Drawing Reading 103, Ethics Compliance, Cyber Security 101"
            data-expirationDates="2023-04-29"
          >Edit</a>
          |
          <a
            href="#"
            onclick="deleteEmployeeCert(this)"
            data-id="1"
            data-fname="Vladimir"
            data-lname="Collier"
            data-certs="Safety 101, Drawing Reading 101, Drawing Reading 102, Drawing Reading 103, Ethics Compliance, Cyber Security 101"
            data-expirationDates="2023-04-29"
          >Delete</a>
        </td>
        <td align="right">1</td>
        <td>Vladimir</td>
        <td>Collier</td>
        <td>
          <ul>
            <li>Safety 101</li>
            <li>Drawing Reading 101</li>
            <li>Drawing Reading 102</li>
            <li>Drawing Reading 103</li>
            <li>Ethics Compliance</li>
            <li>Cyber Security 101</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <a
            href="#"
            onClick="updateEmployeeCert(this)"
            data-id="2"
            data-fname=""
            data-lname=""
            data-certs=""
            data-expirationDates=""
          >Edit</a>
          |
          <a
            href="#"
            onclick="deleteEmployeeCert(this)"
            data-id="2"
            data-fname=""
            data-lname=""
            data-certs=""
            data-expirationDates=""
          >Delete</a>
        </td>
        <td align="right">2</td>
        <td>Donna</td>
        <td>Lott</td>
        <td>
          <ul>
            <li>Safety 101</li>
            <li>Drawing Reading 101</li>
            <li>Drawing Reading 102</li>
            <li>Drawing Reading 103</li>
            <li>Ethics Compliance</li>
            <li>Cyber Security 101</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <a
            href="#"
            onClick="updateEmployeeCert(this)"
            data-id="3"
            data-fname=""
            data-lname=""
            data-certs=""
            data-expirationDates=""
          >Edit</a>
          |
          <a
            href="#"
            onclick="deleteEmployeeCert(this)"
            data-id="3"
            data-name="Athena Fry"
          >Delete</a>
        </td>
        <td align="right">3</td>
        <td>Athena</td>
        <td>Fry</td>
        <td>
          <ul>
            <li>Ethics Compliance</li>
            <li>Cyber Security 101</li>
            <li>Cyber Security 102</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <a
            href="#"
            onClick="updateEmployeeCert(this)"
            data-id="4"
            data-fname=""
            data-lname=""
            data-certs=""
            data-expirationDates=""
          >Edit</a>
          |
          <a
            href="#"
            onclick="deleteEmployeeCert(this)"
            data-id="4"
            data-fname=""
            data-lname=""
            data-certs=""
            data-expirationDates=""
          >Delete</a>
        </td>
        <td align="right">4</td>
        <td>Igor</td>
        <td>Parks</td>
        <td>
          <ul>
            <li>Safety 101</li>
            <li>Drawing Reading 101</li>
            <li>Cyber Security 101</li>
            <li>Torque Cert</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <a
            href="#"
            onClick="updateEmployeeCert(this)"
            data-id="5"
            data-fname=""
            data-lname=""
            data-certs=""
            data-expirationDates=""
          >Edit</a>
          |
          <a
            href="#"
            onclick="deleteEmployeeCert(this)"
            data-id="5"
            data-fname=""
            data-lname=""
            data-certs=""
            data-expirationDates=""
          >Delete</a>
        </td>
        <td align="right">5</td>
        <td>Sybill</td>
        <td>Robles</td>
        <td>
          <ul>
            <li>Safety 101</li>
            <li>Drawing Reading 101</li>
            <li>Cyber Security 101</li>
            <li>Sealing Cert</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <a
            href="#"
            onClick="updateEmployeeCert(this)"
            data-id="6"
            data-fname=""
            data-lname=""
            data-certs=""
            data-expirationDates=""
          >Edit</a>
          |
          <a
            href="#"
            onclick="deleteEmployeeCert(this)"
            data-id="6"
            data-fname=""
            data-lname=""
            data-certs=""
            data-expirationDates=""
          >Delete</a>
        </td>
        <td align="right">6</td>
        <td>Lucian</td>
        <td>Jordan</td>
        <td>
          <ul>
            <li>Safety 101</li>
            <li>Drawing Reading 101</li>
            <li>Cyber Security 101</li>
            <li>Sealing Cert</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <a
            href="#"
            onClick="updateEmployeeCert(this)"
            data-id="7"
            data-fname=""
            data-lname=""
            data-certs=""
            data-expirationDates=""
          >Edit</a>
          |
          <a
            href="#"
            onclick="deleteEmployeeCert(this)"
            data-id="7"
            data-fname=""
            data-lname=""
            data-certs=""
            data-expirationDates=""
          >Delete</a>
        </td>
        <td align="right">7</td>
        <td>Sharon</td>
        <td>Murray</td>
        <td>
          <ul>
            <li>Safety 101</li>
            <li>Cyber Security 101</li>
            <li>Crane Cert</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
          </ul>
        </td>
      </tr>
      <tr>
        <td>
          <a
            href="#"
            onClick="updateEmployeeCert(this)"
            data-id="8"
            data-fname=""
            data-lname=""
            data-certs=""
            data-expirationDates=""
          >Edit</a>
          |
          <a
            href="#"
            onclick="deleteEmployeeCert(this)"
            data-id="8"
            data-fname=""
            data-lname=""
            data-certs=""
            data-expirationDates=""
          >Delete</a>
        </td>
        <td align="right">8</td>
        <td>Maisie</td>
        <td>Herman</td>
        <td>
          <ul>
            <li>Safety 101</li>
            <li>Cyber Security 101</li>
            <li>Crane Cert</li>
          </ul>
        </td>
        <td>
          <ul>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
            <li>2023-04-29</li>
          </ul>
        </td>
      </tr>
    </table>
  </div>

  <div id="insert" style="display: none;">
    <form method="POST" id="addEmployee">
      <legend><strong>Add Employee Certification</strong></legend>
      <fieldset>
        <div>
          <label>Employee:</label>
          <select id="employees">
            <option value="Vladimir_Collier" selected>Vladimir Collier</option>
            <option value="Donna_Lott">Donna Lott</option>
            <option value="Athena_Fry">Athena Fry</option>
            <option value="Igor_Parks">Igor Parks</option>
            <option value="Sybill_Robles">Sybill Robles</option>
            <option value="Lucian_Jordan">Lucian Jordan</option>
            <option value="Sharon_Murray">Sharon Murray</option>
            <option value="Maisie_Herman">Maisie Herman</option>
          </select>
        </div>
        <label>Certification: <input type="text" name="employeeCert" /></label>
        <label>Date Completed:
          <input type="date" name="employeeCertDate" /></label>
      </fieldset>
      <input class="btn" type="submit" value="Add Employee Certification" />
      <input
        class="btn"
        type="button"
        value="Cancel"
        onClick="browseEmployeeCerts()"
      />
    </form>
  </div>

  <div id="update" style="display: none;">
    <form method="POST" id="updateEmployeeCert">
      <legend><strong>Update Employee Certification</strong></legend>
      <fieldset>
        <div>
          <label>ID: <input id="updateEmployeeCertID" name="employeeCertID" disabled></input></label>
        </div>
        <label>First Name:
          <input
            type="text"
            name="fname"
            id="updateEmployeeCertFName"
            disabled
          /></label>
        <label>Last Name:
          <input
            type="text"
            name="lname"
            id="updateEmployeeCertLName"
            disabled
          /></label>
          <div>
            <label>Certification:
                <select id="employeeCerts">
                    <option value="Safety_101" selected>Safety 101</option>
                    <option value="Drawing_Reading_101">Drawing Reading 101</option>
                    <option value="Drawing_Reading_102">Drawing Reading 102</option>
                    <option value="Drawing_Reading_103">Drawing Reading 103</option>
                    <option value="Ethics_Compliance">Ethics Compliance</option>
                    <option value="CyberSecurity_101">Cyber Security 101</option>
                </select>
            </label>
        </div>
        <label>Date Completed:
          <input
            type="date"
            name="employeeCertDate"
            id="updateEmployeeCertDate"
          /></label>
      </fieldset>
      <input class="btn" type="submit" value="Update Employee Certification" />
      <input
        class="btn"
        type="button"
        value="Cancel"
        onClick="browseEmployeeCerts()"
      />
    </form>
  </div>

  <div id="delete" style="display: none;">
    <form method="POST" id="deleteEmployeeCert">
      <legend><strong>Delete Employee Certification</strong></legend>
      <fieldset>
        <div>
          <label>ID: <input id="deleteEmployeeCertID" name="employeeCertID" disabled></input></label>
        </div>
        <label>First Name:
          <input
            type="text"
            name="fname"
            id="deleteEmployeeCertFName"
            disabled
          /></label>
        <label>Last Name:
          <input
            type="text"
            name="lname"
            id="deleteEmployeeCertLName"
            disabled
          /></label>
          <div>
            <label>Certification:
                <select id="employeeCerts">
                    <option value="Safety_101" selected>Safety 101</option>
                    <option value="Drawing_Reading_101">Drawing Reading 101</option>
                    <option value="Drawing_Reading_102">Drawing Reading 102</option>
                    <option value="Drawing_Reading_103">Drawing Reading 103</option>
                    <option value="Ethics_Compliance">Ethics Compliance</option>
                    <option value="CyberSecurity_101">Cyber Security 101</option>
                </select>
            </label>
        </div>
        <label>Date Completed:
          <input
            type="date"
            name="employeeCertDate"
            id="deleteEmployeeCertDate"
            disabled
          /></label>
      </fieldset>
      <input class="btn" type="submit" value="Delete Employee Certification" />
      <input
        class="btn"
        type="button"
        value="Cancel"
        onClick="browseEmployeeCerts()"
      />
    </form>
  </div>
</main>