<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" type="text/css" href="../css/index.css" />
    <script src="../js/index.js"></script>
    <title>Employee Trainings</title>
</head>
<body>
<header>
    <h1>Employee Training Sessions</h1>
</header>
<nav>
  <a href="/">Home</a>
  <a href="departments">Departments</a>
  <a href="certifications">Certifications</a>
  <a href="employees">Employees</a>
  <a href="training_sessions">Training Sessions</a>
  <a href="employees_cert">Employee Certifications</a>
  <a href="employees_train">Employee Trainings</a>
</nav>
<main>
    <button onClick="addEmployeeTrainingSession()" class="btn">Add New Training Session</button>
    <table>
        <thead>
            <tr>
                <th>Action</th>
                <th>Employee ID</th>
                <th>Training ID</th>
            </tr>
        </thead>
        <tbody>
            {{#each data}}
            <tr>
                <td>
                    <a href="#" onClick="updateEmployeeTrainingSession(this)" data-employeeID="1" data-trainingID="4">Edit</a> |
                    <a href="#" onClick="deleteEmployeeTrainingSession(this)" data-employeeID="1" data-trainingID="4">Delete</a>
                </td>
                <td>{{this.employeeID}}</td>
                <td>{{this.trainingID}}</td>
        </tr>
        {{/each}}
        </tbody>
    </table>

    <div id="insert" class="form-container">
        <form>
            <legend>Add New Training Session</legend>
            <label>Employee ID: <input type="text" name="employeeID"></label>
            <label>Training ID: <input type="text" name="trainingID"></label>
            <button type="submit">Submit</button>
            <button type="button" onClick="browseMain()">Cancel</button>
        </form>
    </div>

    <div id="update" class="form-container">
        <form>
            <legend>Update Training Session</legend>
            <label>Employee ID: <input type="text" id="updateEmployeeTrainingSessionEmployeeID" name="employeeID"></label>
            <label>Training ID: <input type="text" id="updateEmployeeTrainingSessionTrainingID" name="trainingID"></label>
            <button type="submit">Update</button>
            <button type="button" onClick="browseMain()">Cancel</button>
        </form>
    </div> 

    <div id="delete" class="form-container">
        <form id="deleteTrainingSessionForm">
            <legend>Delete Training Session</legend>
            <p>Are you sure you want to delete the training session with the following details?</p>
            <p>Employee ID: <input id="deleteEmployeeTrainingSessionEmployeeID" disabled /></p>
            <p>Training ID: <input id="deleteEmployeeTrainingSessionTrainingID" disabled /></p>
            <button type="submit">Delete</button>
            <button type="button" onClick="browseMain()">Cancel</button>
        </form>
    </div>

</main>
<footer>
    <p>© 2024 ByteBalancers. All rights reserved.</p>
</footer>
</body>
</html>
