<header>
  <h1>Training Sessions</h1>
</header>
<nav>
  <a href="/">Home</a>
  <a href="departments">Departments</a>
  <a href="certifications">Certifications</a>
  <a href="employees">Employees</a>
  <a href="training_sessions">Training Sessions</a>
  <a href="employee_certifications">Employee Certifications</a>
</nav>
<main>
  <!-- Display training sessions in a table -->
  <div class="form-container" id="browse">
    <button onClick="newTraining()" class="btn">Add New Training Session</button>
    <p><a href="#" onClick="showTrainingAll()">Display all forms</a></p>
    <table>
      <tr>
        <th>Actions</th>
        <th>Training ID</th>
        <th>Date</th>
        <th>Location</th>
        <th>Description</th>
        <th>Certification ID</th>
        <th>Employees</th>
      </tr>
      <tr>
        <td>
          <a href="#" onClick="updateTrainingSession(this)" data-id="1">Edit</a>
          |
          <a
            href="#"
            onclick="deleteTrainingSession(this)"
            data-id="1"
          >Delete</a>
        </td>
        <td align="right">1</td>
        <td>2024-04-10</td>
        <td>A1</td>
        <td>Building A - Classroom 1</td>
        <td align="right">1</td>
        <td><ul><li>Vladimir Collier</li><li>Athena Fry</li><li>Sybill Robles</li><li
            >Sharon Murray</li></ul></td>
      </tr>
      <tr>
        <td>
          <a href="#" onClick="updateTrainingSession(this)" data-id="2">Edit</a>
          |
          <a
            href="#"
            onclick="deleteTrainingSession(this)"
            data-id="2"
          >Delete</a>
        </td>
        <td align="right">2</td>
        <td>2024-04-12</td>
        <td>A2</td>
        <td>Building A - Classroom 1</td>
        <td align="right">2</td>
        <td><ul><li>Vladimir Collier</li><li>Athena Fry</li><li>Sybill Robles</li><li
            >Maisie Herman</li></ul></td>
      </tr>
      <tr>
        <td>
          <a href="#" onClick="updateTrainingSession(this)" data-id="3">Edit</a>
          |
          <a
            href="#"
            onclick="deleteTrainingSession(this)"
            data-id="3"
          >Delete</a>
        </td>
        <td align="right">3</td>
        <td>2024-04-14</td>
        <td>A3</td>
        <td>Building A - Classroom 2</td>
        <td align="right">3</td>
        <td><ul><li>Vladimir Collier</li><li>Athena Fry</li><li>Sybill Robles</li><li
            >Maisie Herman</li></ul></td>
      </tr>
      <tr>
        <td>
          <a href="#" onClick="updateTrainingSession(this)" data-id="4">Edit</a>
          |
          <a
            href="#"
            onclick="deleteTrainingSession(this)"
            data-id="4"
          >Delete</a>
        </td>
        <td align="right">4</td>
        <td>2024-04-16</td>
        <td>A4</td>
        <td>Building A - Classroom 3</td>
        <td align="right">4</td>
        <td><ul><li>Vladimir Collier</li><li>Igor Parks</li><li>Lucian Jordan</li><li
            >Maisie Herman</li></ul></td>
      </tr>
      <tr>
        <td>
          <a href="#" onClick="updateTrainingSession(this)" data-id="5">Edit</a>
          |
          <a
            href="#"
            onclick="deleteTrainingSession(this)"
            data-id="5"
          >Delete</a>
        </td>
        <td align="right">5</td>
        <td>2024-04-18</td>
        <td>A5</td>
        <td>Building A - Classroom 4</td>
        <td align="right">5</td>
        <td><ul><li>Vladimir Collier</li><li>Igor Parks</li><li>Lucian Jordan</li><li
            >Maisie Herman</li></ul></td>
      </tr>
      <tr>
        <td>
          <a href="#" onClick="updateTrainingSession(this)" data-id="6">Edit</a>
          |
          <a
            href="#"
            onclick="deleteTrainingSession(this)"
            data-id="6"
          >Delete</a>
        </td>
        <td align="right">6</td>
        <td>2024-04-20</td>
        <td>B1</td>
        <td>Building B - Classroom 1</td>
        <td align="right">6</td>
        <td><ul><li>Donna Lott</li><li>Igor Parks</li><li>Lucian Jordan</li></ul></td>
      </tr>
      <tr>
        <td>
          <a href="#" onClick="updateTrainingSession(this)" data-id="7">Edit</a>
          |
          <a
            href="#"
            onclick="deleteTrainingSession(this)"
            data-id="7"
          >Delete</a>
        </td>
        <td align="right">7</td>
        <td>2024-04-22</td>
        <td>B2</td>
        <td>Building B - Classroom 2</td>
        <td align="right">7</td>
        <td><ul><li>Donna Lott</li><li>Igor Parks</li><li>Lucian Jordan</li></ul></td>
      </tr>
      <tr>
        <td>
          <a href="#" onClick="updateTrainingSession(this)" data-id="8">Edit</a>
          |
          <a
            href="#"
            onclick="deleteTrainingSession(this)"
            data-id="8"
          >Delete</a>
        </td>
        <td align="right">8</td>
        <td>2024-04-24</td>
        <td>B3</td>
        <td>Building B - Classroom 3</td>
        <td align="right">8</td>
        <td><ul><li>Donna Lott</li><li>Igor Parks</li><li>Sharon Murray</li></ul></td>
      </tr>
      <tr>
        <td>
          <a href="#" onClick="updateTrainingSession(this)" data-id="9">Edit</a>
          |
          <a
            href="#"
            onclick="deleteTrainingSession(this)"
            data-id="9"
          >Delete</a>
        </td>
        <td align="right">9</td>
        <td>2024-04-26</td>
        <td>B4</td>
        <td>Building B - Classroom 4</td>
        <td align="right">9</td>
        <td><ul><li>Donna Lott</li><li>Sybill Robles</li><li>Sharon Murray</li></ul></td>
      </tr>
      <tr>
        <td>
          <a
            href="#"
            onClick="updateTrainingSession(this)"
            data-id="10"
          >Edit</a>
          |
          <a
            href="#"
            onclick="deleteTrainingSession(this)"
            data-id="10"
          >Delete</a>
        </td>
        <td align="right">10</td>
        <td>2024-04-28</td>
        <td>B5</td>
        <td>Building B - Classroom 5</td>
        <td align="right">10</td>
        <td><ul><li>Donna Lott</li><li>Sybill Robles</li><li>Sharon Murray</li></ul></td>
      </tr>
    </table>
  </div>
  <div id="insert" style="display: none;">
    <form method="POST" action="/addTrainingSession" id="addTrainingSession">
      <legend><strong>Add New Training Session</strong></legend>
      <fieldset>
        <label>Date: <input type="date" name="trainingDate" /></label>
        <label>Location:
          <input type="text" name="location" /></label>
        <label>Description: <input type="text" name="description" /></label>
        <label>Certification:
          <select id="certifications">
            <option value="safety_101">Safety 101</option>
            <option value="drawing_reading_101">Drawing Reading 101</option>
            <option value="drawing_reading_102">Drawing Reading 102</option>
            <option value="drawing_reading_103">Drawing Reading 103</option>
            <option value="ethics_compliance">Ethics Compliance</option>
            <option value="cyber_security_101">Cyber Security 101</option>
            <option value="cyber_security_102">Cyber Security 102</option>
            <option value="torque_cert">Torque Cert</option>
            <option value="sealing_cert">Sealing Cert</option>
            <option value="crane_cert">Crane Cert</option>
          </select>
        </label>
        <div>
          Employees:
          <input
            class="trainingCheckbox"
            type="checkbox"
            id="Vladimir_Collier"
            name="employees"
            value="Vladimir Collier"
          />
          <label for="Vladimir_Collier">Vladimir Collier</label>
          <input
            class="trainingCheckbox"
            type="checkbox"
            id="Donna_Lott"
            name="employees"
            value="Donna Lott"
          />
          <label for="Donna_Lott">Donna Lott</label>
          <input
            class="trainingCheckbox"
            type="checkbox"
            id="Athena_Fry"
            name="employees"
            value="Athena Fry"
          />
          <label for="Igor_Parks">Igor Parks</label>
          <input
            class="trainingCheckbox"
            type="checkbox"
            id="Igor_Parks"
            name="employees"
            value="Igor Parks"
          />
          <label for="Igor_Parks">Sybill Robles</label>
          <input
            class="trainingCheckbox"
            type="checkbox"
            id="Sybill_Robles"
            name="employees"
            value="Sybill Robles"
          />
          <label for="Lucian_Jordan">Lucian Jordan</label>
          <input
            class="trainingCheckbox"
            type="checkbox"
            id="Lucian_Jordan"
            name="employees"
            value="Lucian Jordan"
          />
          <label for="Sharon_Murray">Sharon Murray</label>
          <input
            class="trainingCheckbox"
            type="checkbox"
            id="Sharon_Murray"
            name="employees"
            value="Sharon Murray"
          />
          <label for="Maisie_Herman">Maisie Herman</label>
          <input
            class="trainingCheckbox"
            type="checkbox"
            id="Maisie_Herman"
            name="employees"
            value="Maisie Herman"
          />
          <label for="Maisie_Herman">Maisie Herman</label>
        </div>
      </fieldset>
      <input class="btn" type="submit" value="Add Certification" />
      <input
        class="btn"
        type="button"
        value="Cancel"
        onClick="browseCertifications()"
      />
    </form>
  </div>
  <div class="form-container" id="update" style="display: none;">
    <form method="POST" action="/updateCertification" id="updateCertification">
      <legend><strong>Update Certification</strong></legend>
      <fieldset>
        <label>Certification ID:
          <input type="text" id="updateCertID" name="certID" disabled /></label>
        <label>Certification Name:
          <input type="text" id="updateCertName" name="certName" /></label>
        <label>Certifying Organization:
          <input type="text" id="updateCertOrg" name="certOrg" /></label>
        <label>Description:
          <input
            type="text"
            id="updateCertDescription"
            name="description"
          /></label>
      </fieldset>
      <input class="btn" type="submit" value="Update Certification" />
      <input
        class="btn"
        type="button"
        value="Cancel"
        onClick="browseCertifications()"
      />
    </form>
  </div>

  <div class="form-container" id="delete" style="display: none;">
    <form method="POST" action="/deleteCertification" id="deleteCertification">
      <legend><strong>Delete Certification</strong></legend>
      <fieldset>
        <label>Certification ID:
          <input type="text" id="deleteCertID" name="certID" disabled /></label>
        <label>Certification Name:
          <input
            type="text"
            id="deleteCertName"
            name="certName"
            disabled
          /></label>
        <label>Certifying Organization:
          <input
            type="text"
            id="deleteCertOrg"
            name="certOrg"
            disabled
          /></label>
        <label>Description:
          <input
            type="text"
            id="deleteCertDescription"
            name="description"
            disabled
          /></label>
      </fieldset>
      <input class="btn" type="submit" value="Delete Certification" />
      <input
        class="btn"
        type="button"
        value="Cancel"
        onClick="browseCertifications()"
      />
    </form>
  </div>
</main>